<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <title>Wyvern DB</title>
  </head>
  <body>
    {% include 'navbar.jinja' %}
    <h1 class="text-center">Wyvern DB</h1>
    <div class="text-center">
      Welcome to Wyvern DB, the one-stop database for all your Wyvern CCG needs!
    </div>
    <form
      class="row justify-content-center p-4"
      role="search"
      action="search.html"
    >
      <div class="col-auto">
        <input type="text" class="form-control" name="query" />
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </body>
</html>
