<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
  crossorigin="anonymous"
></script>
<script src="wyverndb.js"></script>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="{{ BASE_URL }}" class="navbar-brand">Wyvern DB</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#wdbNavbar"
      aria-controls="wdbNavbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="wdbNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="search.html">Cards</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Sets</a
          >
          <ul class="dropdown-menu">
            {% for set in sets.values()|sort(attribute="order") %}
            <li>
              <a class="dropdown-item" href="{{ set['id'] }}.html">{{
                set["name"]
              }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="syntax.html">Syntax</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Tools</a
          >
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="boxsim.html"
                >Box Opening Simulator</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="deckbuilder.html">Deck Builder</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="random.html">Random</a>
        </li>
      </ul>
      <form class="d-flex" role="search" action="search.html">
        <input type="text" class="form-control" name="query" />
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>
</nav>
