<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wyvern DB</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    {% include 'navbar.jinja' %}
    <h1 class="text-center">Search Results</h1>
    <div class="text-center" id="searchCount"></div>
    <div
      id="searchResults"
      class="d-flex justify-content-center p-4 flex-wrap"
    ></div>
    <script>
      var BASE_URL = "{{ BASE_URL }}";
      var cards = {{ repr(cards) }};
      var sets = {{ repr(sets) }};
      var cardsByName = {{ repr(cards_by_name) }};

      function populateResults() {
        var resultsDiv = document.getElementById("searchResults");
        var countDiv = document.getElementById("searchCount");
        resultsDiv.innerHTML = "";

        var query =
          new URLSearchParams(window.location.search).get("query") || "";
        var results = new SearchEnv().filter(
          Object.values(cards),
          parseTerm(query)
        );
        if (results.length === 1) {
          window.location.replace(results[0]["id"] + ".html");
        } else {
          countDiv.innerText = results.length + " results found";
          results.forEach((result) => {
            var cardDiv = document.createElement("a");
            cardDiv.setAttribute(
              "class",
              "text-center border p-2 flex-fill w-25"
            );
            cardDiv.setAttribute("href", result["id"] + ".html");

            var name = document.createElement("div");
            name.innerText =
              result["name"] +
              " (" +
              sets[result["set"]]["name"] +
              " #" +
              result["number"] +
              ")";
            cardDiv.appendChild(name);

            var img = document.createElement("img");
            img.setAttribute("src", result["image"].replace(BASE_URL, ""));
            img.setAttribute("height", 200);
            cardDiv.appendChild(img);

            resultsDiv.appendChild(cardDiv);
          });
        }
      }

      populateResults();
    </script>
  </body>
</html>
