<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <title>Wyvern DB</title>
  </head>
  <body>
    {% include 'navbar.jinja' %}
    <h1 class="text-center">Search Results</h1>
    <div class="text-center" id="searchCount"></div>
    <div
      id="searchResults"
      class="d-flex justify-content-center p-4 flex-wrap"
    ></div>
    <div class="text-center container p-4">
      <div class="row p-2">
        <div class="col">
          <button class="btn btn-secondary" onclick="exportToClipboard()">
            Export to Clipboard
          </button>
        </div>
        <div class="col">
          <button class="btn btn-secondary" onclick="exportToFile()">
            Export to File
          </button>
        </div>
      </div>
    </div>
    <script>
      BASE_URL = "{{ BASE_URL }}";
      cards = {{ repr(cards) }};
      sets = {{ repr(sets) }};
      cardsByName = {{ repr(cards_by_name) }};

      var results = undefined;

      function populateResults() {
        var resultsDiv = document.getElementById("searchResults");
        var countDiv = document.getElementById("searchCount");
        resultsDiv.innerHTML = "";

        var query =
          new URLSearchParams(window.location.search).get("query") || "";
        results = new SearchEnv().filter(
          Object.values(cards),
          parseTerm(query)
        );
        if (results.length === 1) {
          window.location.replace(results[0]["id"] + ".html");
        } else {
          countDiv.innerText = results.length + " results found";
          results.forEach((result) => {
            addSearchResult(resultsDiv, result);
          });
        }
      }

      populateResults();

      function getCardlist() {
        return Object.fromEntries(results.map((c) => [c["id"], 1]));
      }

      function exportToClipboard() {
        exportTextToClipboard(exportDecklist(getCardlist()));
      }

      function exportToFile() {
        exportTextToFile(exportDecklist(getCardlist()), "search-"+Date.now()+".txt");
      }
    </script>
  </body>
</html>
