<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.jinja' %}
    <title>{{ set["name"] }} - Wyvern DB</title>
  </head>
  <body>
    {% include 'navbar.jinja' %}

    <h1 class="text-center">{{ set["name"] }}</h1>
    <div class="text-center">{{ len(set["cards"]) }} cards in set</div>
    <div class="d-flex justify-content-center p-4 flex-wrap">
      {% for cardID in set["cards"] %}
      <a class="text-center border p-2 flex-fill w-25" href="{{ cardID }}.html">
        <div>{{ cards[cardID]["name"] }} (#{{ cards[cardID]["number"] }})</div>
        <img
          height="200"
          src="{{ cards[cardID]['image'].replace(BASE_URL, '') }}"
        />
      </a>
      {% endfor %}
    </div>
  </body>
</html>
